body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: white;
}

/* This is for the first half of the page */
.introImage {
  height: 100%;
  position: relative;
  width: 100%;
  background-image: url("./img/erik-odiin-jbQvJx2EWnU-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newTripCard {
  margin: 2rem;
  display: inline-flex;
  justify-content: center;
}

.introImageForNewTrip {
  height: 100%;
  position: relative;
  width: 100%;
  background-image: url("./img/johan-mouchet-Z95viY3WaZs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Playfair Display SC", serif;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.titles {
  font-family: "Playfair Display SC", serif;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: fixed; /* add this code for position fixed */
  top: 0px; /* set top and left 0 */
  left: 0px;
}
.slider-item-div {
  padding: 20px;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.carousel-style {
  height: 100%;
}
/* For all the nav bars to follow */
nav {
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0.75rem;
  background-color: #343d46;
}

li {
  display: inline;
  margin-right: 15%;
}

.saveTrip {
  margin: 2rem;
}

a {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  text-align: center;
}

.buttonFilters {
  display: inline-flex;
  margin: .5rem;
  margin-left: 15px;
}

/* .buttonFilters, .card-deck {
  align-items: flex-start;
} */

.cardGroup {
  margin: 15px;
}

/* For the map in the main page */
#map {
  position: relative;
  height: 500px;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
#mapTitle p {
  position: absolute;
  left: 15rem;
  font-size: 2rem;
}
.topDestHeader {
  margin-left: 15rem;
  width: 100%;
}

.subHead {
  font-size: 1rem;
  font-weight: 400;
}

.header2 {
  margin-left: 15px;
  width: 100%;
}

section {
  background-color: #132226;
}

.subtitles {
  color: bisque;
  text-align: center;
  padding: 1rem;
  font-weight: 900;
  font-size: 44px;
}

.goals div {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.goals div p {
  text-align: center;
}

img {
  height: 200px;
}

.test {
  position: relative;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: absolute; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.checks {
  width: 100%;
}

.videoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pointer {
  cursor: pointer;
  float: right;
}

.pointer:hover {
  color: red;
}

.back {
  background-color: #0001;
  margin: 2rem;
}

.fixedButton {
  display: flex;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.searchBar {
  margin: 2rem;
  background-color: wheat;
}

.hoverFav {
  font-weight: bold;
}

.hoverFav:hover {
  color: gold;
  opacity: 1;
  cursor: pointer;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #212121;
  top: 0;
  bottom: 0;
  left: 50%;
}

.hello {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.hello::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #ffe082;
  border: 4px solid #455a64;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #37474f;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #37474f transparent transparent;
}

.right::after {
  left: -10px;
}

.content {
  padding: 20px 30px;
  background-color: #37474f;
  position: relative;
  border-radius: 6px;
}

.hello .content p {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-family: "Special Elite", cursive;
}

.hello .content p.headTimeline {
  color: #ff7043;
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
}

cite a {
  color: black;
}

#menuicon {
  background-color: black;
  width: 32px;
  height: 32px;
}

.hamburgerMenu {
  display: none;
}

.hamburgerMenu img.resize {
  width: 3rem;
  height: 3.5rem;
}

.mainFooter p,
.mainFooter p a {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  color: black;
}

.mainFooter p a:hover {
  border-bottom: 0.3rem black;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-hidden {
  display: none;
}

.close_bar {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.contact-form {
  background-color: #fff;
  padding: 2rem 4rem;
}

#checks {
  display: flex;
  justify-content: center;
}

.newDayPlan {
  position: relative;
  transition: 3s ease-out;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.newDayPlan-hidden {
  display: none;
}

.closeBarNewDay {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.backgroundTask {
  background-color: #283655;
  width: 100%;
  margin: 0;
}

h3 {
  font-weight: bolder;
  color: wheat;
}

.taskManager {
  width: 50%;
  padding: 10px;
}

.newTask {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  font-size: 18px;
}

.task {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 18px;
  margin: 6px;
  overflow: hidden;
}

.comp {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 18px;
  margin: 6px;
  color: white;
}

.buttonSpan {
  display: inline
}

.fa-check {
  float: right;
  padding-right: 1rem;
  cursor: pointer;
}

.comp {
  background: rgba(0, 0, 0, 0.5);
}

#overallCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.cardStyle {
  margin: 2rem;
}

.formLabel {
  margin: 0%;
  display: flex;
}

.name,
.initialDestination,
.budget,
.noPeople {
  margin-bottom: 1em;
  border: 2px solid grey;
  transition: width 0.4s ease-in-out;
}

.startDate,
.endDate {
  margin-bottom: 1em;
  border: 2px solid grey;
}

.name:focus,
.initialDestination:focus {
  /* background-color: lightblue; */
  width: 100%;
}

#blur {
  position: relative;
  background-color: #a0b593;
  border: 2px solid black;
}

.FormTitle {
  font-family: "Kalam", cursive;
}

.newTripButton {
  margin: 5px;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 20px;
  color: snow;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  outline: none;
  padding: 0.75em 2em;
  position: relative;
  text-transform: uppercase;
}

.daysLeft {
  font-family: "Special Elite", cursive;
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.newPlanForm {
  background-color: #eb6841;
  font-weight: bolder;
}

.budgets {
  width: 50%;
}

.newDayPlan {
  width: 100%;
}

.tourCard {
  margin: 2rem;
  width: 100%;
}

@media (max-width: 598px) {
  nav {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: left;
    flex: 1;
  }

  .hamburgerMenu img.resize {
    width: 2rem;
    height: 2.5rem;
  }

  .introImage {
    background-image: none;
  }

  #mainIntro {
    height: 30%;
    color: black;
  }

  .videoDiv {
    display: none;
  }

  .timeline {
    background-color: #29434e;
    width: 100%;
  }
  .timeline::after {
    display: none;
  }

  .hello::after {
    display: none;
  }

  .left::before {
    display: none;
  }

  .right::before {
    display: none;
  }

  .hello {
    display: flex;
    padding: 0;
  }

  #map,
  #mapTitle {
    display: none;
  }

  .subHead {
    display: none;
  }

  .buttonFilters {
    display: inline-flex;
    margin: .5rem;
    /* text-align: center; */
  }
}

@media (max-width: 768px) {
  .backgroundTask {
    flex-wrap: wrap;
  }

  nav {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: left;
    flex: 1;
  }

  .introImage {
    background-image: none;
    height: 20%;
  }

  #mainIntro {
    height: 30%;
  }

  .timeline {
    background-color: #29434e;
    width: 100%;
  }

  #map,
  #mapTitle {
    display: none;
  }

  .topDestHeader {
    margin-left: 2rem;
    width: 100%;
  }

  .subHead {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .buttonFilters {
    display: inline-flex;
    margin: .5rem;
    /* text-align: center; */
  }
}

@media (max-width: 1281px) {
  .videoDiv {
    width: 100%;
  }

  .timeline {
    background-color: #29434e;
  }
  .buttonFilters {
    display: inline-flex;
    margin: .5rem;
    /* text-align: center; */
  }
}

@media (min-width: 1400px) {
  .buttonFilters {
    display: inline-flex;
    margin: .5rem;
    /* text-align: center; */
  }
}